.ReseveBG {
  background-image: url("../../image/thirdSectionImage.webp");
  background-position: top;
  background-size: cover;
}
.whiteStrip::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -50%;
  transform: translateY(50%);
  background-color: #fff;
  width: 300%;
  height: 85px;
}
.whiteStrip p {
  text-wrap: balance;
}
