@media (max-width: 1600px) {
  .heading h1,
  .heading h2 {
    font-size: 36px;
    line-height: 41px;
  }
  p {
    font-size: 20px;
    line-height: 34px;
  }
  .QouteText {
    font-size: 60px;
  }
  body {
    font-size: 17px;
    line-height: 1.35 !important;
  }
  .productSlider p {
    font-size: 18px;
  }
  .footerCnt_scn span {
    font-size: 24px;
    letter-spacing: 1.3px;
  }
  .formSection {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.63);
    height: 100%;
    width: 32%;
    padding: 20px 85px;
  }
  .formSection span.enquiryText {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.3;
  }
  .form ul li input::placeholder,
  .form ul li select,
  .form ul li input {
    width: 100%;
    padding: 12px;
    margin: 11px 0;
    font-size: 16px;
    font-weight: 500;
    color: rgb(87, 86, 86);
  }
  button.btn {
    line-height: 48px;
    font-size: 21px;
  }
  .formSection {
    align-items: center;
  }
  .bannerTitle h1 {
    font-size: 34px;
    font-weight: 600;
  }
  .bannerTitle p {
    font-size: 18px;
  }
}

@media (max-width: 1500px) {
  .banner {
    height: 45vw;
  }
  .header_cnt_cnt span {
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  .city,
  .state {
    width: 48%;
    float: right;
  }
  .state {
    float: left;
  }
  .state input {
    text-transform: capitalize;
  }
  .formSection {
    align-items: flex-end;
    padding-bottom: 35px;
  }

  .formSection span.enquiryText {
    line-height: 18px !important;
    font-size: 15px;
  }
  p {
    font-size: 18px;
    line-height: 29px;
  }
  .heading h1,
  .heading h2 {
    font-size: 32px;
    line-height: 34px;
  }
  .QouteText {
    font-size: 54px;
  }
  .productSlider p {
    font-size: 17px;
  }
  .whiteStrip {
    width: 75%;
  }
  .productSlider {
    width: 90%;
  }
  .QouteSection_svg {
    width: fit-content;
  }
  .QouteSection_svg svg {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .bannerTitle h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .bannerTitle p {
    font-size: 16px;
  }
}
@media (max-width: 1380px) {
  .heading h1,
  .heading h2 {
    font-size: 28px;
    line-height: 30px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
  }
  .QouteText {
    font-size: 50px;
    line-height: 45px;
  }
  .copyright p,
  .copyright p a {
    font-size: 11px;
  }
  .productSlider p {
    text-align: center;
    height: 170px;
    font-size: 16px;
  }
  .footerCnt_scn span {
    font-size: 20px;
  }
  button.btn {
    font-size: 19px;
    letter-spacing: 2px;
  }
  .header_cnt_cnt span {
    font-size: 21px;
    letter-spacing: 1.5px;
  }
  .header_cnt_cnt svg {
    width: 32px;
    height: 55px;
    fill: #fff;
  }
  .header_cnt_cnt {
    gap: 10px;
  }
  body {
    font-size: 16px;
    line-height: 1.25 !important;
    font-weight: 400;
  }
}

@media (max-width: 1290px) {
  .banner {
    height: 52vw;
  }
  .formSection {
    padding: 20px 55px 50px;
  }
  .whiteStrip {
    width: 85%;
  }
  .formSection {
    align-items: flex-end;
  }
  .bannerTitle {
    position: absolute;
    top: 34%;
    width: 33%;
    left: 8%;
    text-wrap: balance;
    color: #fff;
  }
}

@media (max-width: 1170px) {
  .heading h1,
  .heading h2 {
    font-size: 24px;
    line-height: 27px;
  }
  p {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  .QouteText {
    font-size: 44px;
    line-height: 39px;
  }
  body {
    font-size: 16px;
    line-height: 1.25 !important;
    font-weight: 400;
  }
  .productSlider p {
    font-size: inherit;
  }
  .formSection {
    width: 35%;
  }
  .bannerTitle h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
  }
  .bannerTitle {
    width: 37%;
  }
}

@media (max-width: 1080px) {
  .banner {
    height: 58vw;
  }
  .get_connect {
    width: fit-content;
  }
  .logo svg {
    height: auto;
    width: 200px;
  }
  .bannerTitle {
    width: 40%;
  }
}
@media (max-width: 980px) {
  .banner {
    height: 75vw;
  }
  .formSection {
    width: 40%;
    padding: 20px 40px 60px;
  }
  .whiteStrip {
    width: 100%;
  }
  .QouteText {
    width: 70%;
  }
  .bannerTitle h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .bannerTitle p {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .web-container {
    margin: 0 auto;
    max-width: 90%;
  }
  .bannerTitle {
    top: 50%;
    width: 50%;
    left: 6%;
  }
  .formSection {
    width: 43%;
    padding: 20px 35px 30px;
  }
  .formSection span.enquiryText {
    line-height: 18px !important;
    font-size: 12px;
    letter-spacing: 1px;
  }
}

@media (max-width: 680px) {
  .formSection {
    position: relative;
    width: 100%;
    padding: 50px 15%;
    background-color: rgb(90 90 90);
  }
  .formSection span.enquiryText {
    line-height: 23px !important;
    font-size: 17px;
  }
  .banner {
    height: 500px;
  }
  .QouteText {
    width: 90%;
    padding-top: 30px !important;
  }
  .QouteSection_svg svg {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .bannerTitle {
    top: 25%;
    width: 55%;
    left: 4%;
  }
}
@media (max-width: 580px) {
  .heading h1,
  .heading h2 {
    font-size: 23px;
    line-height: 32px;
    text-wrap: balance;
  }
  .bannerTitle h1 {
    font-size: 22px;
    line-height: 32px;
  }
  .whiteStrip::after {
    content: none;
  }
  .whiteStrip {
    width: 60%;
  }
  .vedio_thumbnail img {
    object-fit: cover;
    width: 100%;
  }
  .productSlide {
    margin: 0 10%;
  }
  .banner {
    height: 400px;
  }
  .logo svg {
    height: auto;
    width: 140px;
  }
  .header_cnt_cnt span {
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  .header_cnt_cnt svg {
    width: 25px;
    height: auto;
    fill: #fff;
  }
  .form ul li input::placeholder,
  .form ul li select,
  .form ul li input {
    border-radius: 0;
    border: 0;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .formSection {
    position: relative;
    width: 100%;
    padding: 30px 9%;
    background-color: rgb(90 90 90);
  }
  .formSection span.enquiryText {
    line-height: 24px !important;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
  }
  .web-container {
    margin: 0 auto;
    max-width: 94%;
  }
  .heading {
    margin-bottom: 25px;
  }
  .whiteStrip {
    width: 70%;
  }
  .bannerTitle {
    top: 15%;
    width: 65%;
    left: 4%;
  }
  .banner img {
    object-position: 37%;
  }
  .bannerTitle h1 {
    font-size: 18px;
    line-height: 32px;
  }
  .bannerTitle p {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .heading h1,
  .heading h2 {
    font-size: 21px;
    line-height: 32px;
    text-wrap: balance;
    letter-spacing: 1.2px;
  }
  .whiteStrip {
    width: 80%;
  }
  .QouteText {
    font-size: 40px;
    line-height: 42px;
    width: 100%;
  }
  .productSlide {
    margin: 0 5%;
  }
  .w-90 {
    width: 100%;
  }
  .header_cnt_cnt {
    gap: 5px;
  }

  .header_cnt_cnt span {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .logo svg {
    height: auto;
    width: 120px;
  }
}
